<div class="logo">
    <!-- <img src="" alt=""> -->
    <h2>Indah Wisata</h2>
</div>
<div class="items">
    <!-- <li><a href="http://localhost:8080/indahadmin/index">Homepage</a></li> -->
    <li><a href="http://localhost:8080/indahadmin/product">Product</a></li>
    <li><a href="http://localhost:8080/indahadmin/orders">Orders</a></li>
    <li><a href="http://localhost:8080/indahadmin/productphoto">Product Photo</a></li>
    <li><a href="http://localhost:8080/indahadmin/gallery">Gallery</a></li>
    <!-- <li><a href="contact.html">Contact</a></li>
    <li><a href="aboutus.html">About Us</a></li> -->
</div>