        <!-- Footer  -->
        <div class="container">
            <footer class="row row-cols-3 py- my-2">

                <div class="col-3 footer_info">
                    <a href="/" class="d-flex align-items-center link-dark text-decoration-none">
                        <h4>Indah Wisata.</h4>
                    </a>
                    <p>Book your trip in minute, get full Control for much longer.</p>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Handphone</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Gmail</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Lokasi</a></li>
                    </ul>
                </div>
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-2 footer_links">
                    <h5>Tentang</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Tentang Kami</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Pertanyaan</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Galeri</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Afiliasi</a></li>
                    </ul>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-2 footer_links">
                    <h5>Support</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Whatsapp</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Facebook</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Instagram</a></li>
                    </ul>
                </div>
                <div class="google-maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2395.7982455597394!2d106.85281373244065!3d-6.229487159172413!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f390824e92d9%3A0xde6ee8f2e05a42c0!2sIndah%20Wisata!5e0!3m2!1sen!2sid!4v1731139202011!5m2!1sen!2sid" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </footer>
            <div class="d-flex justify-content-center py-4 my-4">
                <p onclick="vishwa()" class="pointer">© 2021-2022, All Rights Reserved</p>
            </div>
        </div>