<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Indah Wisata</title>
    <meta name="description" content="Travel-Website-Landing-Page" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400;600&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Google Sans:wght@500&display=swap" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="/assets/images/LogoIndahWisata.jpeg" type="image/x-icon">
    <!-- Custom CSS  -->
    <link rel="stylesheet" href="/static/css/global.css" />
    <link rel="stylesheet" href="/static/css/style2.css" />
    <link rel="stylesheet" href="/static/css/responsive.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
</head>

<body class="body">
        <!-- Tambahkan audio di sini -->
        <audio autoplay loop style="display: none;">
            <source src="assets/audio/woods.mp3" type="audio/mpeg">
        </audio>
        
    <div class="main-container">
        <div id="header-container"></div>

        <script>
            fetch('header.html')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('header-container').innerHTML = data;
                });
        </script>

        <!-- Hero -->
        <div class="hero__component container">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="hero__bg"></div>
                <div class="hero_content">
                    <b class="tagline">Indah Holiday</b>
                    <img class="decore_icon" alt="" src="/assets/images/decore3.svg" />
                    <h3 class="hero_heading">
                        Travel, enjoy and live full life. Trusted4trip
                    </h3>
                </div>
                <div class="hero_bottons">
                    <img class="person_icon" alt="" src="/assets/images/person.svg" />
                    <div class="play_demo_btn">
                        <a href="#">Owner of Indah Wisata</a><br>
                        <a href="#">Indah Sutrisno</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="slider_img bounceUpDown">
                    <img src="/assets/images/image1.svg" alt="" class="glareType" />
                </div>
            </div>
        </div>

        <!-- Top Destinations -->
        <div class="destinations_component">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h2 class="parent_title">Cek Pesanan</h2>
                    </div>
                    <div class="search-container">
                        <input id="orderInput" type="text" placeholder="Tolong masukkan Nomor Pemesanan.">
                        <button class="select-button" onclick="searchOrder()">Search</button>
                    </div>
                    <div id="resultDropdown" class="result-dropdown" style="display: none;">
                        <table>
                            <thead>
                                <tr>
                                    <th>Narahubung</th>
                                    <th>No. Telp</th>
                                    <th>Jumlah Peserta</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody id="orderTableBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div id="pilihan-container"></div>
        <script>
            fetch('pilihan.html')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('pilihan-container').innerHTML = data;
                });
        </script>
        <script>
            $(document).ready(function(){
                $.ajax({
                    url:"/product",
                    method:"GET",
                    success: function(products){
                        const shuffledProducts = products.sort(() => 0.5 - Math.random());
                        const limitedProducts = shuffledProducts.slice(0, 3);
                        limitedProducts.forEach((product, index) => {
                            console.log("DEBUG!")
                            const price = formatToRupiah(product.Harga);
                            const days = calculateDaysBetween(product.StartDate, product.EndDate);

                            const extraClass = index >= 2 ? "mt_ipad" : "";
                            $("#top-destination").append(
                                `<div class="col-lg-3 col-md-6 col-sm-12 col-6 item ${extraClass}" onclick="displayDetail(${product.ID})">
                                    <div class="items_content glareType2">
                                        <img class="item_img" alt="" src="/assets/image/thumbnail/${product.ID}/${product.Thumbnail}"/>
                                        <div class="item_box">
                                            <div class="item_title">
                                                <h6>${product.NamaDestinasi}</h6>
                                                <h6>${price}</h6>
                                            </div>
                                            <div class="item_map">
                                                <img class="navigation-icon" alt="" src="/assets/images/navigation-1.svg">
                                                <p>${days} Days Trip</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>`
                            )
        
                        });
                        
                    }
                });
            });
        </script>
        <div id="tatacara-container"></div>
        <script>
            fetch('tatacara.html')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('tatacara-container').innerHTML = data;
                });
        </script>
        <div class="main-container">
            <div id="footer-container"></div>
            <script>
                fetch('footer.html')
                    .then(response => response.text())
                    .then(data => {
                        document.getElementById('footer-container').innerHTML = data;
                    });
            </script>
        </div>

        <!-- Email validation  -->
        <script>
            function validateEmail() {
                var email = document.getElementById("email").value;
                var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;

                if (emailPattern.test(email)) {
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", "send_newsletter.php", true);
                    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState === 4 && xhr.status === 200) {
                            // Check if the response indicates success, for example, by returning "Success" from the server
                            if (xhr.responseText === "Success") {
                                alert("Email sent successfully");
                                // Redirect to another page after a successful submission
                                window.location.href = "index.html";
                            } else {
                                alert("Email sending failed");
                            }
                        }
                    };
                    var emailContent = "You can include the email content here.";
                    var params = "email=" + email + "&emailContent=" + emailContent;
                    xhr.send(params);
                } else {
                    alert("Invalid email address");
                }
            }
        </script>

        <!-- Email Icon  -->
        <script>
            const emailInput = document.getElementById("email");
            const icon = document.querySelector(".input-icon");

            emailInput.addEventListener("blur", () => {
                if (emailInput.value === "") {
                    icon.style.display = "inline"; // Show the icon when the input loses focus and is empty
                } else {
                    icon.style.display = "none"; // Hide the icon when the input loses focus and has data
                }
            });

            emailInput.addEventListener("focus", () => {
                icon.style.display = "none"; // Hide the icon when the input is in focus
            });
        </script>

        <!-- Heart Animation JS-->
        <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
        <script>
            $(function () {
                $(".heart").on("click", function () {
                    $(this).toggleClass("is-active");
                });
            });
        </script>

        <!-- Bootstrap Bundle with Popper JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
        <script src="/static/js/index.js"></script>

        <!-- Vanilla Card Hover Effect JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.0/vanilla-tilt.min.js"></script>
        <script>
            VanillaTilt.init(document.querySelectorAll(".glareType"), {
                max: 2,
                speed: 700,
                glare: true,
                "max-glare": 0.1,
            });

            VanillaTilt.init(document.querySelectorAll(".glareType2"), {
                max: 3,
                speed: 700,
                glare: true,
                "max-glare": 0.1,
            });
        </script>

        <!-- Hero BG scroll  -->
        <script>
            // JavaScript to add the scrolling class and hide the element after scrolling {}px
            window.addEventListener("scroll", function () {
                const heroBg = document.querySelector(".hero__bg");
                const scrollPosition = window.scrollY;

                if (scrollPosition > 0) {
                    heroBg.classList.add("scrolling");

                    if (scrollPosition > 400) {
                        // Adjusted from 900 to 1200
                        heroBg.style.display = "none";
                    } else {
                        heroBg.style.display = "block";
                    }
                } else {
                    heroBg.classList.remove("scrolling");
                    heroBg.style.display = "block";
                }
            });
        </script>

        <!-- Card :Hover with Blur -->
        <script>
            // Get all the item elements
            const itemElements = document.querySelectorAll('.destinations_component .item');

            // Add a hover event listener to each item
            itemElements.forEach(item => {
                item.addEventListener('mouseenter', () => {
                    // Apply the scale effect to the hovered item
                    item.style.transform = 'scale(1.05)';

                    // Apply the blur effect to other items
                    itemElements.forEach(otherItem => {
                        if (otherItem !== item) {
                            otherItem.style.filter = 'blur(3px)';
                            otherItem.style.transform = 'scale(0.9)';
                            otherItem.style.boxShadow = 'none';
                        }
                    });

                    // Remove box-shadow for .item_box when hovered
                    item.querySelector('.items_content .item_box').style.boxShadow = '0 100px 80px rgba(0, 0, 0, 0.02), 0 64.8px 46.85px rgba(0, 0, 0, 0.02), 0 38.5px 25.48px rgba(0, 0, 0, 0.01), 0 20px 13px rgba(0, 0, 0, 0.01), 0 8.1px 6.52px rgba(0, 0, 0, 0.01), 0 1.9px 3.15px transparent';
                });

                // Add a mouse leave event listener to reset the effects
                item.addEventListener('mouseleave', () => {
                    // Reset the transform and remove blur for the hovered item
                    item.style.transform = 'none';
                    item.style.filter = 'none';

                    // Reset the transform and remove blur for other items
                    itemElements.forEach(otherItem => {
                        if (otherItem !== item) {
                            otherItem.style.transform = 'none';
                            otherItem.style.filter = 'none';
                        }
                    });

                    // Reset the box-shadow for .item_box when mouse leaves
                    item.querySelector('.items_content .item_box').style.boxShadow = '0 100px 80px rgba(0, 0, 0, 0.02), 0 64.8px 46.85px rgba(0, 0, 0, 0.02), 0 38.5px 25.48px rgba(0, 0, 0, 0.01), 0 20px 13px rgba(0, 0, 0, 0.01), 0 8.1px 6.52px rgba(0, 0, 0, 0.01), 0 1.9px 3.15px transparent';
                });
            });

        </script>

        <!-- onClick -->
        <script>
            function redirectToIndex() {
                window.open("index.html", "_blank");
            } function vishwa() {
                window.open("https://vishwa.vercel.app/", "_blank");
            }
        </script>

        <!-- Sticky Header -->
        <script>
            let prevScrollPos = window.pageYOffset;
            const header = document.querySelector(".header-main");

            window.onscroll = function () {
                let currentScrollPos = window.pageYOffset;
                if (prevScrollPos > currentScrollPos) {
                    // Scrolling up, show the header
                    header.classList.remove("hidden");
                } else {
                    // Scrolling down, hide the header
                    header.classList.add("hidden");
                }
                prevScrollPos = currentScrollPos;
            }
            function searchOrder() {
                $("#orderTableBody").empty();
                // Example data, replace this with actual data fetch logic
                $(document).ready(function(){
                    var code = $("#orderInput").val();
                    $.ajax({
                        url:`/orders/search/${code}`,
                        method:"GET",
                        success: function(orders){
                            $("#orderTableBody").append(`
                                <td>${orders.NamaPeserta}</td>
                                <td>${orders.NoTelp}</td>
                                <td>${orders.JmlPeserta}</td>
                                <td class="${orders.Status.toLowerCase() === 'pending' ? 'status-pending' : 'status-confirmed'}">
                                    ${orders.Status}
                                </td>
                            `);
                        },
                        error: function(){
                            $("#orderTableBody").append(`<td colspan="4">Order Not Found</td>`)
                        }
                    });
                });
                // Show the dropdown
                document.getElementById("resultDropdown").style.display = "block";
            }
        </script>

</body>

</html>