        <!-- Top Destinations -->
        <div class="destinations_component">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <b class="child_title">Katalog</b>
                        <h2 class="parent_title">Pilihan Destinasi</h2>
                        <a class="link" href="/indahwisata/katalog">Lihat semua &rarr;</a>
                    </div>
                    <img class="decore-icon bounceUpDown" alt="" src="/assets/images/decore1.svg">
                    <div id="top-destination" class="destinations_body">
                    </div>
                </div>
            </div>
        </div>