        <!-- Book A Tripe -->
        <div class="book_a_trip_component">
            <div class="container">
                <div class="row">
                    <div class="book_a_trip_inner">
                        <div class="col-lg-6 col-md-12 col-sm-12 col">
                            <div class="title_block">
                                <b class="child_title">Gampang dan Cepat</b>
                                <h2 class="parent_title m-0">Pesan Perjalanan</h2>
                                <h2 class="parent_title">Dalam 3 Langkah Mudah</h2>
                            </div>
                            <div class="book_a_trip_content">
                                <div class="col">
                                    <div class=trip_info>
                                        <div class="trip_icon_bg">
                                            <img src="assets/images/selection-1.svg" alt="">
                                        </div>
                                        <div class="trip_info_content">
                                            <h6>Choose Destination</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class=trip_info>
                                        <div class="trip_icon_bg">
                                            <img src="assets/images/group-12.svg" alt="">
                                        </div>
                                        <div class="trip_info_content">
                                            <h6>Make Payment</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class=trip_info>
                                        <div class="trip_icon_bg">
                                            <img src="/assets/images/group-11.svg" alt="">
                                        </div>
                                        <div class="trip_info_content">
                                            <h6>Reach Airport on Selected Date</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col">
                            <!-- <div class="book_a_trip_card">
                                <div class="card_img">
                                    <img class="rectangle_img" alt="" src="/assets/images/rectangle-17@2x.png">
                                </div>
                                <div class="card_info">
                                    <h5>Trip To Greece</h5>
                                    <p>14-29 June | by Robbin joseph</p>
                                    <img class="options-icon" alt="" src="/assets/images/options.svg">
                                    <div class="card_info_bottom">
                                        <img src="/assets/images/building-1.svg" alt="">
                                        <p>24 people going</p>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>