@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.login-admin-container{
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.login-title{
    text-align: center;
    margin-bottom: 1.5rem;
    color: #1a1a1a;
    font-size: 1.5rem;
    font-weight: bold;
}

.sign-in-button{
    width: 100%;
}